*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

*::selection{
    background: transparent;
    color: #aaa;
}

body{
    background: darkred;
}

.container-registro{
    display: flex;
    flex-direction: column;
    height: 100vh;
    place-content: center center;
}

.header{
    background: darkred;
    color: #fff;
    height: 10px;
    font-size: 30px;
    text-align: right;
    line-height: 10px;
    font-weight: bold;
    padding: 25px;
}

.header::selection{
    background: transparent;
}

.nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 50%;
    background: #691d1d;
    align-content: center;
    justify-content: center;
    display: none;
    position: absolute;
}

.nav ul li{
    transition-property: background;
    transition-duration: 400ms;
    display: block;
}

.nav ul li:hover{
    background: #333;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 20px;
}

.item-registro{
    background: url(../img/fondo.jpg);
    background-size: cover;
    padding: 20px;
    height: 425px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    place-content: center center;
}

.item-registro-admin{
    background: url(../img/fondo.jpg);
    background-size: 100% 100%;
}

.item-registro > form{
    display: block;
    background: #333;
    padding: 20px;
    height: 400px;
    border-radius: 5px;
}

.item-registro > form h1{
    color: #b92121;
    letter-spacing: 5px;
    display: block;
    margin: 20px auto;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

.item-registro-admin > form h1{
    color: gold;
}

.register_complete .item-registro-admin > form h1 {
    color: #228b22;
}

.item-registro-admin-error h1{
    color: #d84c4c !important;
}

.item-registro > form input[type='text'],
.item-registro > form input[type='number'],
.item-registro > form input[type='password']{
    display: block;
    margin: 20px auto auto auto;
    padding: 8px;
    border-radius: 30px;
    outline: none;
    width: 90%;
    background: transparent;
    border: 3px solid darkred;
    color: #aaa;
    transition: box-shadow 500ms;
}

.item-registro-admin > form input[type='text'],
.item-registro-admin > form input[type='number'],
.item-registro-admin > form input[type='password']{
    border-color: gold;
    box-shadow: 0 0 2px gold, 0 0 7px gold;
    background: #cab338;
    border: 3px solid gold;
    padding: 9px;
    color: #444;
    border-radius: 5px;
}

.register_complete .item-registro-admin > form input[type='text'],
.register_complete .item-registro-admin > form input[type='number'],
.register_complete .item-registro-admin > form input[type='password']{
    box-shadow: 0 0 2px forestgreen, 0 0 7px forestgreen;
    background: #258e25;
    border: 3px solid #246d24;
}

.register_complete .item-registro-admin > form input[type='text']::placeholder,
.register_complete .item-registro-admin > form input[type='number']::placeholder,
.register_complete .item-registro-admin > form input[type='password']::placeholder{
    color: #ccc;
}

.item-registro-admin-error input[type='text'],
.item-registro-admin-error input[type='number'],
.item-registro-admin-error input[type='password']{
    border-color: #d84c4c !important;
    box-shadow: 0 0 2px #d84c4c, 0 0 7px #d84c4c !important;
    background: #cc6868 !important;
    border: 3px solid #ff2828 !important;
    color: #ccc !important;
}

.item-registro > form input[type='text']:focus,
.item-registro > form input[type='number']:focus,
.item-registro > form input[type='password']:focus{
    color: #999;
    border-color: darkred;
    box-shadow: 0 0 2px darkred, 0 0 7px darkred;
}

.item-registro-admin > form input[type='text']:focus,
.item-registro-admin > form input[type='number']:focus,
.item-registro-admin > form input[type='password']:focus{
    border-color: gold;
    box-shadow: 0 0 2px gold, 0 0 7px gold;
    background: #cab338;
    background: transparent;
    border: 3px solid gold;
    color: #aaa;
}

.item-registro-admin-error input[type='text']:focus,
.item-registro-admin-error input[type='number']:focus,
.item-registro-admin-error input[type='password']:focus{
    border-color: #d84c4c !important;
    box-shadow: 0 0 2px #d84c4c, 0 0 7px #d84c4c !important;
    border: 3px solid #d84c4c !important;
    color: #ccc !important;
}

.item-registro > form > div{
    display: block;
    display: flex;
    flex-direction: row;
    margin: 25px 23px 20px 23px;
}

.item-registro > form > div > label{
    display: block;
    padding-left: 5px;
    color: #aaa;
}

.item-registro > form input[type='submit']{
    display: block;
    margin: 25px auto;
    border-radius: 30px;
    padding: 6px;
    width: 40%;
    color: #aaa;
    background: transparent;
    border: 3px solid darkred;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 500ms, color 500ms, box-shadow 800ms;
}

.item-registro-admin > form input[type='submit']{
    padding: 9px;
    text-transform: capitalize;
    background-color: gold;
    color: #444;
    box-shadow: 0 0 2px yellow, 0 0 5px gold, 0 0 10px gold;
    border: 3px solid gold;
    border-radius: 5px;
}

.register_complete .item-registro-admin > form input[type='submit']{
    background-color: #228b22;
    color: #ccc;
    box-shadow: 0 0 2px #008000, 0 0 5px #228b22, 0 0 10px #228b22;
    border: 3px solid #228b22;
}

.register_complete .item-registro-admin > form input[type='submit']:hover{
    border-color: #228b22;
}

.item-registro-admin-error input[type='submit']{
    box-shadow: 0 0 2px #d84c4c, 0 0 5px #d84c4c, 0 0 10px #d84c4c !important;
    border: 3px solid #d84c4c !important;
    color: #ccc !important;
    background-color: #d84c4c !important;
}

.item-registro > form input[type='submit']:hover{
    background-color: darkred;
    color: #aaa;
    box-shadow: 0 0 3px red, 0 0 8px darkred, 0 0 13px darkred;
}


.item-registro-admin > form input[type='submit']:hover{
    background: transparent;
    border: 3px solid gold;
    box-shadow: unset;
}

.item-registro-admin-error input[type='submit']:hover{
    border: 3px solid #d84c4c !important;
    background: transparent !important;
    box-shadow: unset !important;
    color: #ccc !important;
}

.item-registro > form .enviar:hover{
    background-color: forestgreen !important;
    color: #aaa;
    box-shadow: 0 0 3px green, 0 0 8px darkgreen, 0 0 13px forestgreen !important;
}

.item-logo{
    background: darkred;
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 0;    
    display: none;
}

.item-admin{
    background: gold;
}

.item-admin-error{
    background: #d84c4c !important;
}


.item-logo > img{
    width: 100%;
    height: 95%;
}

.item-footer{
    background: darkred;
    height: 50px;
}

.item-footer a{
    color: white;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    display: block;
    margin: auto;
}

@media screen and (min-width: 850px){
    .item-registro{
        flex-direction: row;
    }

    .item-logo{
        margin-top: 22px;
        margin-right: 22px;
        margin-bottom: 22px;
        border-radius: 5px;
        display: block;
        min-height: 80%;
        height: auto;
        width: 50%;
    }

    .item-admin{
        margin-left: 25px;
        margin-right: inherit;
        margin-top: auto;
        margin-bottom: auto;
        height: 520px;
        width: 35%;
    }

    .register_complete .item-admin {
        background: #228b22;
    }

    .item-registro > form{
        height: auto;
        width: 40%;
        margin-top: 5px;
        margin-left: 22px;
        margin-bottom: 5px;

    }

    .item-registro-admin > form{
        margin-right: 25px;
        margin-left: inherit;
        margin-top: auto;
        margin-bottom: auto;
        width: 60%;
        height: 450px;
        box-shadow: 0 0 10px yellow, 0 0 15px gold, 0 0 20px gold;
        border-radius: 0px 5px 5px 0px;
    }

    .register_complete .item-registro-admin > form {
        box-shadow: 0 0 10px #008000, 0 0 15px #008000, 0 0 20px #008000;
    }

    .item-registro-admin-error form{
        box-shadow: 0 0 10px #d84c4c, 0 0 15px #d84c4c, 0 0 20px #d84c4c !important;
    }

    .item-registro > form h1 {
        margin: 35px auto;
    }

    .item-registro-admin > form h1{
        color: gold;
    }

    .register_complete .item-registro-admin > form h1 {
        color: #228b22;
    }

    .item-registro-admin-error h1 {
        color: #d84c4c !important;
    }
}

@media screen and (max-height: 583px){
    .item-registro > form input[type='text'], .item-registro > form input[type='number'], .item-registro > form input[type='password']{
        margin-top: 15px;
    } 
    
    .item-registro > form input[type='submit']{
        margin-top: 28px;
    }
    
    .item-registro > form{
        height: 90%;
        margin-top: 0;
    }
    
    .item-registro > form h1{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .item-registro-admin-error h1 {
        color: #d84c4c !important;
    }
    
    .item-logo{
        height: 90%;
        margin-top: 0;
    }
}

@media screen and (max-height: 580px){
    .container-registro {
        height: unset;
    }
}

.error::placeholder{
    color: #b92121;
}

.gris::placeholder {
    color: #ccc;
}

.gris_claro::placeholder {
    color: #bbb;
}

.complete_usuario::placeholder{
    color: forestgreen;
}